{% extends 'blog\base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
  <h1 class="mb-3 h2">Welcome To Dani Tech</h1>
  <p class="mb-3">Best & free tutorial are Here and News</p>
  <a class="btn btn-primary m-2" href="https://www.youtube.com/@da.T" role="button" rel="nofollow"
  target="_blank">Subscribe Our Channel</a>
  <a class="btn btn-primary m-2" href="https://youtube.com/@da-i" target="_blank"
  role="button">Our Facts Channel</a>
</div>
<!-- Jumbotron -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="my-5">
  <div class="container text-center">
    <!--Section: Content-->

      <h4 class="mb-5"><strong>Latest posts</strong></h4>
      {% load static %} 
      
        {% for post in posts %}
        {% if forloop.first %}
      <div class="row mx-auto">
        {% endif %}  
        <div class="col-lg-4 col-md-12 mb-4 col-12">

            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="/media/{{post.img}}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <span><small> {{ post.date_posted }} </small></span>
                <p class="card-text">
                 {{ post.introce }}
                </p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
          </div> <div class="row mx-auto"> {% endif %} {% if forloop.last %} </div>{% endif %}
          </div>
         

      <!--Section: Content-->

      {% endfor %}
      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->
  {% endblock %}